In [1]:
import pickle
from datetime import datetime
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import pandas as pd

In [2]:

original_df = pd.read_csv("./insurance.csv")

In [3]:

smoker = {"yes": 1, "no": 0}
original_df["smoker"] = original_df["smoker"].map(smoker)
original_df.head()

   age     sex     bmi  children  smoker     region      charges
0   19  female  27.900         0       1  southwest  16884.92400
1   18    male  33.770         1       0  southeast   1725.55230
2   28    male  33.000         3       0  southeast   4449.46200
3   33    male  22.705         0       0  northwest  21984.47061
4   32    male  28.880         0       0  northwest   3866.85520

In [4]:

sex = {"male":0,"female":1}
original_df["sex"] = original_df["sex"].map(sex)
original_df.head()

   age  sex     bmi  children  smoker     region      charges
0   19    1  27.900         0       1  southwest  16884.92400
1   18    0  33.770         1       0  southeast   1725.55230
2   28    0  33.000         3       0  southeast   4449.46200
3   33    0  22.705         0       0  northwest  21984.47061
4   32    0  28.880         0       0  northwest   3866.85520

In [8]:
region_list = []
for region in original_df["region"].unique():
    region_list.append(original_df[original_df["region"]==region])

array(['southwest', 'southeast', 'northwest', 'northeast'], dtype=object)

In [9]:

x = original_df.iloc[:, 0:5].values
y = original_df.iloc[:, 6].values

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

regrssor = LinearRegression()
regrssor.fit(x_train, y_train)
y_pred = regrssor.predict(x_test)
predictions = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred})
print(predictions)
print(regrssor.score(x_test, y_test))
pickle.dump(
    regrssor,
    open(f'models/Wallmart-model_{datetime.now().strftime("%Y-%m-%d_%H-%M-%S")}.pkl', "wb"),
)

          Actual     Predicted
0     7160.33030  11389.616009
1    11264.54100  15012.069121
2     2221.56445   1490.966959
3     2585.85065    162.055783
4    19539.24300  29757.048613
..           ...           ...
263  38709.17600  33103.039076
264  20296.86345  30079.422110
265   3180.51010   1279.774967
266  42969.85270  36265.622026
267   2137.65360   2489.267151

[268 rows x 2 columns]
0.7064197837714152