# Pandas Exercise -1

 We will be using the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle!

** Import pandas as pd.**

In [1]:
import pandas as prathamesh_pd
import numpy as np

** Read Salaries.csv as a dataframe called sal.**

In [2]:
sal = prathamesh_pd.read_csv('Salaries.csv',delimiter=',')

/tmp/ipykernel_6853/3120668457.py:1: DtypeWarning: Columns (3,4,5,6,12) have mixed types. Specify dtype option on import or set low_memory=False.
  sal = prathamesh_pd.read_csv('Salaries.csv',delimiter=',')

** Check the head of the DataFrame. **

In [3]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

** Use the .info() method to find out how many entries there are.**

In [4]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148049 non-null  object
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB

**What is the average BasePay ?**

BasePay has string values such as Not Provided, so we need to import numpy and convert the string values to NaN values. Then we can find the average BasePay. We also see that there are some float values that appear as string in the BasePay column. We need to convert them to float values. Therefore I use the the astype() method to convert the BasePay column to float values.

In [5]:
newSal = sal
newSal['BasePay'] = sal['BasePay'].replace("Not provided",np.nan).replace("Not Provided",np.nan).astype(float)
newSal['BasePay'] = newSal['BasePay'].fillna(newSal['BasePay'].mean())
newSal["BasePay"].mean()

66325.44884048769

** What is the highest amount of OvertimePay in the dataset ? **

In [6]:
unique_overtimePay=sal.replace("Not provided",0).replace("Not Provided",0)['OvertimePay'].unique()
newSal = sal
newSal['OvertimePay'] = sal['OvertimePay'].replace("Not provided",0).replace("Not Provided",0).astype(float)
newSal["OvertimePay"].max()

245131.88

** What is the job title of  GARY JIMENEZ ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll). **

In [7]:
sal[sal['EmployeeName']=='GARY JIMENEZ']['JobTitle']

1    CAPTAIN III (POLICE DEPARTMENT)
Name: JobTitle, dtype: object

** How much does GARY JIMENEZ make (including benefits)? **

In [8]:
sal[sal['EmployeeName']=='GARY JIMENEZ']['TotalPayBenefits']

1    538909.28
Name: TotalPayBenefits, dtype: float64

** What is the name of highest paid person (including benefits)?**

In [9]:
sal[sal['TotalPayBenefits']==sal['TotalPayBenefits'].max()]['EmployeeName'].values

array(['NATHANIEL FORD'], dtype=object)

** What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [10]:
sal[sal['TotalPayBenefits']==sal['TotalPayBenefits'].min()][['EmployeeName','TotalPayBenefits']]

       EmployeeName  TotalPayBenefits
148653    Joe Lopez           -618.13

We notice something strange sucha as a negative pay.

** What was the average (mean) BasePay of all employees per year? (2011-2014) ? **

In [11]:
sal.groupby('Year')['BasePay'].mean()

Year
2011    63595.956517
2012    65436.406857
2013    69576.866579
2014    66564.396851
Name: BasePay, dtype: float64

** How many unique job titles are there? **

In [12]:
sal["JobTitle"].value_counts()[sal["JobTitle"].value_counts()==1].count()

239

** What are the top 5 most common jobs? **

In [13]:
", ".join(sal["JobTitle"].value_counts().head(5).index.tolist())

'Transit Operator, Special Nurse, Registered Nurse, Public Svc Aide-Public Works, Police Officer 3'

** How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?) **

In [14]:
sal[sal["Year"]==2013]["JobTitle"].value_counts()[sal[sal["Year"]==2013]["JobTitle"].value_counts()==1].count()

202

** How many people have the word Chief in their job title? (This is pretty tricky) **

In [15]:
sal["JobTitle"].apply(lambda x: "chief" in x.lower()).value_counts()[True]

627